<div>
    <script id="dealer-search-partial"  type="text/x-handlebars-template">
    <div class="dealer-search search-container">
        <div class="form-container">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-lg-2 control-label --i18n--" data-i18n-key="province">省</label>
                    <div class="input-group col-lg-4">
                        <select class="form-control" id="provinceS">
                            <option value="0" class="--i18n--" data-i18n-key="select">选择</option>
                            {{#each provinces}}
                            <option value="{{id}}" class="--i18n--" data-i18n-key={{pinyin}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label --i18n--" data-i18n-key="city">市</label>
                    <div class="input-group col-lg-4">
                        <select class="form-control" name="city" id="cityS">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-actions text-right">
                <button class="btn btn-primary --i18n--" type="button" id="searchDealerBtn" data-i18n-key="search">搜索</button>
            </div>
        </div>
        <div class="panel panel-default result-container">
            <div class="panel-heading hide"><h3 class="panel-title --i18n--" data-i18n-key="searchResult">查询结果</h3></div>
            <div class="result-info">
                <div class="thanks text-left hide" >
                    <p class="--i18n--" data-i18n-key="thanksInformation">谢谢您对Acme的支持与关注，您的授权经销商查询信息如下：</p>
                </div> 
                <div id="dealerData" class="panel-body">
                    <table class="table table-striped table-bordered table-hover hide">
                    </table>
                </div>
            </div>
            <div class="no-result  text-danger panel-body --i18n-- hide" data-i18n-key="dealerEmptyResult--html">
                <p>我们建议您去我们ACME的授权经销商，获取我们提供质保的十年产品。</p>
                <p>所有的产品都是在我们ACME经销商的授权，请访问我们的网站找到你附近的ACME授权经销商和更多产品信息。</p>
                <p>请访问：<a target="_blank" href="http://www.acme-car.com">http://www.acme-car.com</a></p>
            </div>
        </div>
    </div>
    </script>
    <script id="dealer-tr-partial"  type="text/x-handlebars-template">
    <tr>
        <td class="company">{{company}}</td>
        <td class="address">{{address}}</td>
        <td class="td-action text-right" >
            <button class="btn btn-default" data-action="delete"><i class="fa fa-remove"></i>删除</button>
            <button class="btn btn-default" data-action="edit"><i class="fa fa-edit"></i>编辑</button>
        </td>
    </tr>
    </script>
    <script id="dealer-result-partial"  type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12 col-xs-12" id="term">
        <p class="company">
            <label class="--i18n--" data-i18n-key="company">公司名称</label>
            <span>{{company}}</span>
        </p>
        <p class="address">
            <label class="--i18n--" data-i18n-key="address">地址</label>
            <span>{{address}}</span>
        </p>
    </div>
    </script>
    <script id="dealer-form-partial"  type="text/x-handlebars-template">
    <form class="form-horizontal admin-form" id="dForm">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="id" id="id" value="{{dealer.id}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">省</label>
            <div class="input-group col-lg-4">
                <select class="form-control" id="fProvinceS">
                    <option value="0">选择</option>
                    {{#each provinces}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label"> </label>
            <div class="input-group col-lg-4">
                <select class="form-control" name="cityId" id="fCityS">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="company">公司名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="company" id="company" value="{{dealer.company}}" placeholder="请输入公司名称" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">地址</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="address" id="address" value="{{dealer.address}}" placeholder="请输入地址" />
            </div>
        </div>
    </form>
    </script>
    <script id="warranty-search-partial"  type="text/x-handlebars-template">
    <div class="warranty-search search-container">
        <div class="form-container">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-lg-2 control-label --i18n--" data-i18n-key="warrantyID">质保 ID</label>
                    <div class="input-group col-lg-4">
                        <select class="form-control" name="warrantyS" id="warrantyS">
                            {{!-- <option value="">请选择</option> --}}
                            <option select="true" value="warrantyID" class="--i18n--" data-i18n-key="warrantyID">客户姓名</option>
                            <!-- <option select="true" value="customerName" class="--i18n--" data-i18n-key="customerName">客户电话</option> -->
                            <option select="true" value="customerPhone" class="--i18n--" data-i18n-key="customerPhone">质保 ID</option>
                            <option value="licensePlate" class="--i18n--" data-i18n-key="licensePlate">车牌号/车架号</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label --i18n--" data-i18n-key="input">输入</label>
                    <div class="input-group col-lg-4">
                        <input type="text" class="form-control" name="warrantyValue" id="warrantyValue">
                    </div>
                </div>
            </div>
            <div class="form-actions text-right">
                <button id="searchWarrentyBtn" class="btn btn-primary --i18n--" type="button" data-i18n-key="search">搜索</button>
            </div>
        </div>
        <div class="panel panel-default result-container">
            <div class="panel-heading hide"><h3 class="panel-title --i18n--" data-i18n-key="searchResult">查询结果</h3></div>
            <div class="result-info">
                <div class="thanks text-left hide">
                    <p class="--i18n--" data-i18n-key="thanksWarranty">谢谢您对Acme的支持与关注，您的质保信息如下：</p>
                </div>
                <div id="warrantyData" class="panel-body"></div>
            </div>
            <div class="no-result  text-danger panel-body hide --i18n--" data-i18n-key="warrantyEmptyResult--html">
                <p>很抱歉，您输入的数字在Acme官方电子质保系统中并无相关信息，请查明后重新输入。</p>
                <p>Acme保证对我们的产品和客户提供最高品质的服务！</p>
                <ol>
                    <li>凡经由Acme授权认证的店家及经销商安装的车身透明保护膜产品皆享有XPEL官方提供的10年质保。 </li>
                    <li>在质保期间内，除人为，自然衰退或其他不可抗拒因素发生产品故障，客户均可享受Acme提供的免费维修服务; </li>
                    <li>受保瑕疵范围包括：不起斑点，不染色，不变黄，不起泡，不脱胶。如有其他因素导致产品损坏，请至Acme授权店家及经销商寻求维修及服务。
                    </li>
                </ol>
                <p>请访问：<a target="_blank" href="http://www.acme-car.com">http://www.acme-car.com</a></p>
            </div>
        </div>
    </div>
    </script>
    <script id="warranty-result-partial"  type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12 col-xs-12" id="term">
        <div class="col-md-4 col-sm-12 col-xs-12 img">
            <img id="thumbnail" src="{{imagePath}}">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 content">
            <p class="customerName">
                <label class="--i18n--" data-i18n-key="customerName">客户姓名</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{customerName}}</span>
            </p>
            <p class="customerPhone">
                <label class="--i18n--" data-i18n-key="customerPhone">客户电话</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{customerPhone}}</span>
            </p>
            <p class="vehicleType">
                <label class="--i18n--" data-i18n-key="vehicleType">装贴种类</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{vehicleType}}</span>
            </p>
            <p class="vehicleMounted">
                <label class="--i18n--" data-i18n-key="vehicleMounted">装贴车型</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{vehicleMounted}}</span>
            </p>
            <p class="constructionTime">
                <label class="--i18n--" data-i18n-key="constructionTime">施工时间</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{constructionTime}}</span>
            </p>
            <p class="constructionStore">
                <label class="--i18n--" data-i18n-key="constructionStore">施工门店</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{constructionStore}}</span>
            </p>
            <p class="licensePlate">
                <label class="--i18n--" data-i18n-key="licensePlate">车牌号/车架号</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{licensePlate}}</span>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 content">
            <p class="warrantyID">
                <label class="--i18n--" data-i18n-key="warrantyID">质保 ID</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{warrantyID}}</span>
            </p>
            <p id="constructionTechnician">
                <label class="--i18n--" data-i18n-key="constructionTechnician">施工技师</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{constructionTechnician}}</span>
            </p>
            <p id="warrantyTime">
                <label class="--i18n--" data-i18n-key="warrantyTime">质保时间</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{warrantyTime}}</span>
            </p>
        </div>
    </div>
    </script>
    <script id="warranty-form-partial"  type="text/x-handlebars-template">
    <form class="form-horizontal admin-form" id="wForm" role="form">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="id" id="id" value="{{id}}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="customerName">客户姓名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="customerName" id="customerName" value="{{customerName}}" placeholder="请输入客户姓名" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="customerPhone">客户电话</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="customerPhone" id="customerPhone" value="{{customerPhone}}" placeholder="请输入客户电话" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="vehicleType">装贴种类</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="vehicleType" id="vehicleType" value="{{vehicleType}}" placeholder="请输入装贴种类" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="vehicleMounted">装贴车型</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="vehicleMounted" id="vehicleMounted" value="{{vehicleMounted}}" placeholder="请输入装贴车型" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="warrantyID">质保 ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="warrantyID" id="warrantyID" value="{{warrantyID}}" placeholder="请输入产品卷号" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="licensePlate">车牌号/车架号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="licensePlate" id="licensePlate" value="{{licensePlate}}" placeholder="请输入车牌号/车架号" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="constructionTechnician">施工技师</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="constructionTechnician" id="constructionTechnician" value="{{constructionTechnician}}" placeholder="请输入施工技师" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="constructionStore">施工门店</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="constructionStore" id="constructionStore" value="{{constructionStore}}" placeholder="请输入施工门店" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="constructionTime">施工时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="constructionTime" id="constructionTime" value="{{constructionTime}}" placeholder="请输入施工时间" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="warrantyTime">质保时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="warrantyTime" id="warrantyTime" value="{{warrantyTime}}" placeholder="请输入质保时间" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="thumbnail">缩略图</label>
            <div class="col-sm-10">
                <input type="file" class="form-control thumbnail" name="thumbnail" id="thumbnail" />
                <p class="fieldset info text-right"><span class="text-warning text-info">缩略图格式只支持gif、jpg或者png！</span></p>
            </div>
        </div>
        <div class="form-group text-center">
            <img src="{{imagePath}}" />
        </div>
    </form>
    </script>
    <script id="product-search-partial"  type="text/x-handlebars-template">
    <div class="product-search search-container">
        <div class="form-container">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-lg-2 control-label --i18n--" data-i18n-key="selectionIdentifier">选择标识</label>
                    <div class="input-group col-lg-4">
                        <select class="form-control" name="productS" id="productS">
                            {{!-- <option value="">请选择</option> --}}
                            <option select="true" value="productRoll"class="--i18n--" data-i18n-key="productRoll">产品卷号</option>
                            {{!-- <option value="licensePlate">车牌号/车架号</option> --}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label --i18n--" data-i18n-key="input">输入</label>
                    <div class="input-group col-lg-4">
                        <input type="text" class="form-control" name="prodValue" id="prodValue">
                    </div>
                </div>
            </div>
            <div class="form-actions text-right">
                <button id="searchProductBtn" class="btn btn-primary --i18n--" type="button" data-i18n-key="search">搜索</button>
            </div>
        </div>
        <div class="panel panel-default result-container">
            <div class="panel-heading hide">
                <h3 class="panel-title">查询结果</h3>
            </div>
            <div class="result-info">
               <div class="thanks text-left hide">
                    <p lass="--i18n--" data-i18n-key="thanksProduct">谢谢您对Acme的支持与关注，您的产品真伪查询信息如下：</p>
                </div> 
                                <div id="productData" class="panel-body"></div>
            </div>
            <div class="no-result  text-danger panel-body hide --i18n--" data-i18n-key="productEmptyResult--html">
                <p>很抱歉，无此产品信息，您购买的可能为假冒产品，请确认输入正确后再次查询。</p>
                <p>我们建议您到Acme授权认证的店家施工，以保障您10年质保的权益。 所有Acme授权认证的经销商及施工店家都可在官网上找到信息。</p>
                <p>请访问：<a target="_blank" href="http://www..acme-car.com/">http://www.acme-car.com</a>或<a href="http://Warranty.acme-car.com">http://Warranty.acme-car.com</a></p>
            </div>
        </div>
    </div>
    </script>
    <script id="product-result-partial"  type="text/x-handlebars-template">
    <div class="col-md-12 col-sm-12 col-xs-12" id="term">
        <div class="col-md-4 col-sm-12 col-xs-12 img">
            <img id="thumbnail" src="{{imagePath}}">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 content">
            <p class="model">
                <label class="--i18n--" data-i18n-key="model">型号</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{model}}</span>
            </p>
            <p class="productionTime">
                <label class="--i18n--" data-i18n-key="productionTime">生产时间</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{productionTime}}</span>
            </p>
            <p class="producingPlace">
                <label class="--i18n--" data-i18n-key="producingPlace">生产地</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{producingPlace}}</span>
            </p>
            <p class="salePlace">
                <label class="--i18n--" data-i18n-key="salePlace">销售地</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{salePlace}}</span>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 content">
            <p class="productRoll">
                <label class="--i18n--" data-i18n-key="productRoll">产品卷号</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{productRoll}}</span>
            </p>
            <p id="inspectors">
                <label class="--i18n--" data-i18n-key="inspectors">检验人员</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{inspectors}}</span>
            </p>
            <p id="inspectionGround">
                <label class="--i18n--" data-i18n-key="inspectionGround">检验地</label><span class="--i18n--" data-i18n-key="colon">：</span>
                <span>{{inspectionGround}}</span>
            </p>
        </div>
    </div>
    </script>
    <script id="product-form-partial"  type="text/x-handlebars-template">
    <form class="form-horizontal admin-form" id="prodForm" role="form">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="id" id="id" value="{{id}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="productRoll">产品卷号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="productRoll" id="productRoll" value="{{productRoll}}" placeholder="请输入产品卷号" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="productionTime">生产时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="productionTime" id="productionTime" value="{{productionTime}}" placeholder="请输入生产时间" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="producingPlace">生产地</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="producingPlace" id="producingPlace" value="{{producingPlace}}" placeholder="请输入生产地" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inspectors">检验人员</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inspectors" id="inspectors" value="{{inspectors}}" placeholder="请输入检验人员" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inspectionGround">检验地</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="inspectionGround" id="inspectionGround" value="{{inspectionGround}}" placeholder="请输入检验地" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="model">型号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="model" id="model" value="{{model}}" placeholder="请输入型号" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="salePlace">销售地</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="salePlace" id="salePlace" value="{{salePlace}}" placeholder="请输入销售地" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="prodDate">缩略图</label>
            <div class="col-sm-10">
                <input type="file" class="form-control thumbnail" name="thumbnail" id="thumbnail" />
                <p class="fieldset info text-right"><span class="text-warning text-info">缩略图格式只支持gif、jpg或者png！</span></p>
            </div>
        </div>
        <div class="form-group text-center">
            <img src="{{imagePath}}" />
        </div>
    </form>
    </script>
    <script id="item-action-partial"  type="text/x-handlebars-template">
    <div class="actions text-right">
        <button class="btn blue del-btn" type="button"><i class="fa fa-time"></i>删除</button>
        <button class="btn blue edit-btn" type="button"><i class="fa fa-edit"></i>编辑</button>
    </div>
    </script>
    <script id="search-no-result-partial"  type="text/x-handlebars-template">
    <div class="no-result  text-danger panel-body hide">
        <p>很抱歉，您输入的数字在Acme官方电子质保系统中并无相关信息，请查明后重新输入。</p>
        <p>Acme保证对我们的产品和客户提供最高品质的服务！</p>
        <ol>
            <li>凡经由Acme授权认证的店家及经销商安装的车身透明保护膜产品皆享有XPEL官方提供的10年质保。 </li>
            <li>在质保期间内，除人为，自然衰退或其他不可抗拒因素发生产品故障，客户均可享受Acme提供的免费维修服务; </li>
            <li>受保瑕疵范围包括：不起斑点，不染色，不变黄，不起泡，不脱胶。如有其他因素导致产品损坏，请至Acme授权店家及经销商寻求维修及服务。
            </li>
        </ol>
        <p>请访问：<a target="_blank" href="http://www.acme-car.com">http://www.acme-car.com</a></p>
    </div>
    </script>
</div>